@charset "utf-8";

html,
body {
	font-size: 10px;
}

body {
	font-family: 'Nanum Gothic', sans-serif;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #f2f2f2;
}

header {
	width: 100%;
	height: 580px;
	position: relative;
	background: url("../images/mcm/top/bg_img1.jpg") no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
}

header .txt-con {
	width: 100%;
	/*	background-color: palevioletred;*/
	text-align: right;
	position: absolute;
	right: 2%;
	bottom: 0px;
	color: #fff;
}

header .txt-con h1 {
	display: inline-block;
	line-height: 35px;
	padding: 0 1%;
	background-color: #fff;
	font-weight: 700;
	font-size: 2.2rem;
	margin-bottom: 3%;
	text-align: center;
	color: #080808;
}

header .txt-con p:nth-of-type(1) {
	font-size: 3.7rem;
	font-weight: 700;
	margin-bottom: 2%;
	color: #f2f2f2;
	text-shadow: 1px 1px 4px #080808;
}

header .txt-con p:nth-of-type(2),
header .txt-con p:nth-of-type(3) {
	font-size: 2rem;
	margin-bottom: 2%;
	font-weight: bold;
	color: #f2f2f2;
}

header .txt-con span {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 10% 0 5% 0;
	font-size: 2.7rem;
	font-weight: bold;
	cursor: pointer;
}

header .top-con {
	width: 100%;
	height: 90px;
	position: relative;
}

header .top-con .nav {
	display: none;
	position: fixed;
	width: 80%;
	height: 100%;
	border-right: 1px solid #f2f2f2;
	z-index: 11;
	background-color: #080808;
}

header .top-con .btn-con {
	position: fixed;
	top: 15px;
	left: 20px;
	z-index: 10;
}

header .top-con .btn-con .menu-btn {
	display: block;
	width: 35px;
	height: 3px;
	background-color: #000;
	margin: 7px;
}
header .top-con .nav .nav-btn{
	position: fixed; width: 60px; line-height: 70px; height: 70px; left: 80%; background-color: #080808; text-align: center; border: 1px solid #f2f2f2; box-sizing: border-box; 
}header .top-con .nav .nav-btn span{
	display: inline-block; color: #f2f2f2;  font-weight: bold;
}
header .nav .main-nav{
	width: 100%; overflow: hidden; text-align: center;
}
header .nav .main-nav ul{
	overflow: hidden;
}
header .nav .main-nav ul li{
	color: #fff; line-height: 50px; border-bottom: 1px solid #f2f2f2; font-weight: bold;font-size: 1.8rem; color: #f2f2f2;
}
header .nav .main-nav ul .sub_f{
	display: none;
}
header .nav .main-nav ul .sub_f ul li{
	font-size: 1.7rem; color: #080808; background-color: #f2f2f2;
}
header .nav .main-nav ul .sub_f .sub_s{
	display: none;
}
header .nav .main-nav ul .sub_f .sub_s li{
	font-weight: normal; font-size: 1.7rem;
}
header .top-con .nav .b-con {
	width: 100%;
	position: relative;
}

header .top-con .nav .b-con input {
	position: absolute;
	width: 90%;
	margin: 1% 0% 0% 1%;
	height: 30px;
	border: 0;
	background-color: #f2f2f2;
	top: 150px;
}
header .top-con .nav .b-con img{
	position: absolute; top: 160px; left: 93%; 
}
header .top-con .nav .b-con ul li {
	float: left;
	width: 50%;
	height: 50px;
	line-height: 50px;
	color: #f2f2f2;
	font-size: 1.8rem;
	text-align: center;
	border: 1px solid #f7f7f7;
	border-right: 0;
	box-sizing: border-box;
	border-top: 0;
}

header .top-con .logo-wrap {
	position: absolute;
	width: 12%;
	left: 50%;
	transform: translateX(-50%);
	top: 10%;
}


header .top-con .logo-wrap img {
	width: 100%;
}

header .top-con .top-icon {
	position: absolute;
	width: 25%;
	top: 10px;
	height: 25px;
	right: 20px;
	/*	background-color: #fff;*/
}

header .top-con .top-icon ul {
	overflow: hidden;
}

header .top-con .top-icon ul li {
	float: left;
	width: 31%;
	margin-right: 2%;
	text-align: center;
	font-size: 2.2rem;
	font-weight: bold;
}

header .top-con .top-icon ul li:last-child {
	margin-right: 0;
}

header .top-con .top-icon ul li img {
	vertical-align: sub;
}

header .top-con .top-icon ul li:nth-child(3) {
	line-height: 25px;
}



/*헤더끝*/
.first-wrap {
	width: 100%;
	margin-bottom: 6%;
	position: relative;
}

.first-wrap .txt-con {
	width: 100%;
	text-align: center;
	padding-top: 50px;
}

.first-wrap .txt-con h2 {
	font-size: 3.7rem;
	font-weight: bold;
	margin-bottom: 3%;
	color: #080808;
}

.first-wrap .txt-con p {
	font-size: 2.2rem;
	margin-bottom: 2.5%;
	color: #080808;
}

.first-wrap .txt-con p:last-child {
	margin-bottom: 0;
}

.first-wrap .first-con {
	width: 100%;
	padding-top: 3%;
}

.first-wrap .first-con ul {
	overflow: hidden;
}

.first-wrap .first-con ul li {
	float: left;
	width: 26%;
	margin-right: 10%;
	text-align: center;
	cursor: pointer;
}

.first-wrap .first-con ul li img {
	width: 100%;
	vertical-align: top;
}

.first-wrap .first-con ul li:last-child {
	margin-right: 0;
}

.first-wrap .first-con ul li p:first-of-type {
	margin-top: 31%;
}

.first-wrap .first-con ul li p {
	font-size: 1.9rem;
	font-weight: bold;
	margin-bottom: 7%;
}

.first-wrap .first-con ul li span {
	font-size: 1.9rem;
}

.first-wrap .first-btn {
	position: relative;
	width: 100%;
	height: 57px;
	margin-top: 8%;
	cursor: pointer;
}

.first-wrap .first-btn span {
	position: absolute;
	display: block;
	padding: 3% 2%;
	box-sizing: border-box;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	font-size: 2.6rem;
	color: #f2f2f2;
	background-color: #000;
}

/*클래식제품끝*/
.second-wrap {
	width: 100%;
	/*	height: 847px;*/
	position: relative;
}

.second-wrap .txt-con {
	width: 100%;
	text-align: center;
	padding-top: 50px;
}

.second-wrap .txt-con h2 {
	font-size: 3.7rem;
	font-weight: bold;
	margin-bottom: 15px;
	color: #080808;
}

.second-wrap .txt-con p {
	font-size: 2.2rem;
	color: #080808;
}

.second-wrap .second-con {
	width: 100%;
	height: 477px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 60px;
}

.second-wrap .second-con ul {
	position: relative;
	margin: 0 auto;
}

.second-wrap .second-con ul li {
	position: absolute;
	width: 442px;
	height: 457px;
	text-align: center;
}

.second-wrap .second-con img {
	width: 100%;
	height: 100%;
}

.second-wrap .second-con ul li:nth-of-type(1) {
	left: 94px;

}

.second-wrap .second-con ul li:nth-of-type(2) {
	left: 576px;

}

.second-wrap .second-con ul li:nth-of-type(3) {
	left: 1028px;

}

.second-wrap .second-con ul li:nth-of-type(4) {
	left: -390px;
}

.second-wrap .indicator {
	position: absolute;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	bottom: 110px;
	font-size: 17px;
	text-align: center;
}

.second-wrap .indicator ul li {
	display: inline-block;
	padding: 0 0.5%;
	color: #646464;
	cursor: pointer;
}

.second-wrap .indicator ul li.active {
	color: #080808;
}

.second-wrap .second-btn {
	position: relative;
	width: 100%;
	height: 57px;
	margin: 17% 0 11% 0;
}

.second-wrap .second-btn span {
	position: absolute;
	display: block;
	padding: 3% 3%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	font-size: 2.6rem;
	color: #f2f2f2;
	background-color: #000;
	cursor: pointer;
}

/*30*/

/*작지만 의미있는 선물 끝*/
.third-wrap {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 6%;

}

.third-wrap .txt-con {
	width: 100%;
	text-align: center;
	/*	padding-top: 50px;*/
}

.third-wrap .txt-con h2 {
	font-size: 3.7rem;
	font-weight: bold;
	margin-bottom: 3%;
	color: #080808;
}

.third-wrap .txt-con p {
	font-size: 2.2rem;
	color: #080808;
}

.third-wrap .txt-con p:first-of-type {
	margin-bottom: 2.5%;
}

.third-wrap .third-con {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.third-wrap .third-con ul {
	overflow: hidden;
}

.third-wrap .third-con ul li {
	float: left;
	width: 40%;
	margin-right: 20%;
}

.third-wrap .third-con ul li img {
	width: 100%;
}

.third-wrap .third-con ul li:nth-of-type(2) {
	margin-right: 0;
}

.third-wrap .third-con .third-btn {
	width: 100%;
	height: 60px;
	margin: 0 auto;
	margin-top: 8%;
	cursor: pointer;
}

.third-wrap .third-con .third-btn span {
	/*	line-height: 60px;*/
	position: absolute;
	display: block;
	padding: 3% 2%;
	box-sizing: border-box;
	left: 50%;
	transform: translate(-50%);
	font-size: 2.6rem;
	color: #f2f2f2;
	background-color: #000;
}


.third-wrap .third-con ul li p {
	font-size: 1.9rem;
	font-weight: bold;
	margin: 20px 0 10px;
	color: #080808;
}

.third-wrap .third-con ul li:nth-child(2) p:nth-of-type(2) {
	margin-top: 0;
}

.third-wrap .third-con ul li span {
	font-size: 1.9rem;
	color: #080808;
}

.third-wrap .third-con ul li:first-child span:first-of-type {
	text-decoration: line-through;
}

.third-wrap .third-con ul li:first-child span:nth-of-type(2) {
	color: #c10000;
	font-weight: bold;
	margin-left: 10px;
}

/*여행필수아이템 끝*/
.last-wrap {
	width: 100%;
	background-color: powderblue;
}

.last-wrap .left-con {
	float: left;
	width: 47.5%;
	margin-right: 5%;
	padding: 0 0 12% 4%;
	box-sizing: border-box;
	margin-bottom: 12%;
}

.last-wrap .left-con .left-top {
	width: 100%;
}

.last-wrap .left-con .left-top img {
	width: 100%;
}

.last-wrap .left-con .left-bottom {
	width: 100%;
	padding-top: 21%;
	text-align: center;

}

.last-wrap .left-con .left-bottom h1 {
	font-size: 3.5rem;
	font-weight: bold;
	margin-bottom: 7%;
}

.last-wrap .left-con .left-bottom p {
	font-size: 2.2rem;
	margin-bottom: 4%;
}

.last-wrap .left-con .left-bottom .left-btn {
	width: 100%;
	position: relative;
	height: 57px;
	margin: 0 auto;
	margin-top: 11%;
	cursor: pointer;
}

.last-wrap .left-con .left-bottom .left-btn span {
	display: block;
	position: absolute;
	width: 60%;
	left: 50%;
	transform: translateX(-50%);
	padding: 6% 2%;
	font-size: 2.5rem;
	color: #f2f2f2;
	background-color: #080808;
}

/*그의선물*/
.last-wrap .right-con {
	float: left;
	width: 47.5%;
	padding-right: 17px;
	margin-bottom: 12%;
	box-sizing: border-box;
}

.last-wrap .right-con .right-top {
	width: 100%;
	padding: 21% 0 11%;
	box-sizing: border-box;
	text-align: center;

}

.last-wrap .right-con .right-top h1 {
	font-size: 3.5rem;
	font-weight: bold;
	margin-bottom: 7%;
}

.last-wrap .right-con .right-top p {
	font-size: 2.2rem;
	margin-bottom: 4%;
}

.last-wrap .right-con .right-top .right-btn {
	width: 100%;
	position: relative;
	height: 57px;
	margin: 0 auto;
	margin-top: 11%;
	cursor: pointer;
}

.last-wrap .right-con .right-top .right-btn span {
	display: block;
	position: absolute;
	width: 60%;
	left: 50%;
	transform: translateX(-50%);
	padding: 6% 2%;
	box-sizing: border-box;
	font-size: 2.5rem;
	color: #f2f2f2;
	background-color: #080808;
}


.last-wrap .right-con .right-bottom {
	width: 100%;
}

.last-wrap .right-con .right-bottom img {
	width: 100%;
}

/*그녀의 선물*/
/*그의 선물 그녀의 선물 파트 끝*/

.season-wrap {
	clear: both;
	width: 100%;
	position: relative;
	height: 360px;
	background: url("../images/mcm/bgi_season.jpg") no-repeat center;
	background-size: 100% 100%;
}

.season-wrap span {
	display: inline-block;
	position: absolute;
	bottom: 95px;
	right: 50px;
	color: #fff;
	font-size: 3.8rem;
	font-weight: bold;
	cursor: pointer;
}

.season-wrap img {
	position: absolute;
	bottom: 70px;
	right: 0px;
}

/*시즌오프 끝*/
.info-wrap {
	width: 100%;
	/*	height: 636px;*/
	padding: 20px 10px 10px 10px;
	box-sizing: border-box;
	/*	background-color: floralwhite;*/
}

.info-wrap .txt-con {
	width: 100%;
}

.info-wrap .txt-con p {
	font-size: 2.2rem;
	font-weight: bold;
	margin-bottom: 6%;
	color: #2b2b2b;
}

.info-wrap .email-wrap {
	width: 100%;
	border-bottom: 1px solid #727272;
}

.info-wrap .email-wrap p {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 2%;
	color: #2b2b2b;
}

.info-wrap .email-wrap input {
	width: 100%;
	height: 30px;
	border: 0;
	font-size: 1.7rem;
	background-color: #f2f2f2;
}

.info-wrap .store-wrap {
	width: 100%;
	position: relative;
	border-bottom: 1px solid #747474;
}

.info-wrap .store-wrap p {
	font-size: 2rem;
	font-weight: bold;
	margin: 4% 0 2% 0;
	color: #767676;
}

.info-wrap .store-wrap span {
	font-size: 2rem;
}

.info-wrap .store-wrap span:nth-of-type(2) {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 1.8rem;
	cursor: pointer;
}

.info-wrap .store-wrap input {
	width: 60%;
	height: 30px;
	border: 0;
	background-color: #f2f2f2;
}

.info-wrap .lang-wrap {
	width: 100%;
}

.info-wrap .lang-wrap p {
	font-size: 2rem;
	font-weight: bold;
	margin: 4% 0;
	color: #767676;
}

.info-wrap .lang-wrap p:nth-child(1) {
	float: left;
}

.info-wrap .lang-wrap p:nth-child(2) {
	float: right;
	text-decoration: underline;
	font-weight: normal;
	cursor: pointer;
}

.info-wrap .info-con {
	clear: both;
	width: 100%;
	position: relative;
}

.info-wrap .info-con ul {
	overflow: hidden;
}

.info-wrap .info-con > ul > li {
	position: relative;
	background-color: #080808;
	margin-bottom: 1%;
	color: #f2f2f2;
	padding: 3%;
	box-sizing: border-box;
}

.info-wrap .info-con > ul > li span {
	font-size: 2rem;
}

.info-wrap .info-con > ul > li img {
	position: absolute;
	right: 3%;
}

.info-wrap .info-con .sub-m {
	display: none;
}

.info-wrap .info-con > ul > li img.rotate {
	transform: rotate(180deg)
}

.info-wrap .info-con .sub-m ul li {
	font-size: 1.9rem;
	color: #747474;
	padding: 15px 10px 0 10px;
}

.info-wrap .info-con .sub-m ul li:last-child {
	padding-bottom: 15px;
}

.info-wrap .sns-wrap {
	width: 100%;
}

.info-wrap .sns-wrap ul {
	overflow: hidden;
	margin-top: 4%;
}

.info-wrap .sns-wrap ul li {
	float: left;
	width: calc(100%/4);
	text-align: center;
	color: #747474;
}

.info-wrap .sns-wrap ul li span {
	font-size: 1.8rem;
}

.info-wrap .top-con {
	clear: both;
	width: 100%;
	padding-top: 11%;
	text-align: center;
}

.info-wrap .top-con span {
	font-size: 2.2rem;
	color: #080808;
	cursor: pointer;
}

.info-wrap .top-con img {
	cursor: pointer;
}

/*정보파트 끝*/
footer {
	width: 100%;
	padding: 5% 2% 1% 2%;
	box-sizing: border-box;
	background-color: #d9d9d9;
	text-align: center;
}

footer p,
span {
	font-size: 1.7rem;
}

footer p:not(:last-child) {
	margin-bottom: 3%;
}

footer span {
	display: inline-block;
	margin-bottom: 5%;
}

footer span:nth-of-type(2) {
	font-weight: bold;
	padding-left: 2%;
	text-decoration: underline;
	cursor: pointer;
}

footer p:last-child {
	font-size: 1.6rem;
}

/*푸터끝*/
@media screen and (max-width:360px) {

	html,
	body {
		font-size: 6px;
	}

	.second-wrap .indicator {
		bottom: 100px;
	}

}
